/* ================================================== */
/* Footer Components */
/* ================================================== */

footer {
    background-color: var(--color-fondo);
    color: var(--color-texto);
    padding: 1rem;
    text-align: center;
}

footer p {
    color: var(--color-texto);
    margin: 0;
    font-size: 1rem; /* Base font size */
  }
